<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${LoggedInUser.name}+' | ALignBook'"></title>
</head>
<body>

    <div id="content">

        <!-- user LoggedIn :sideBar -->
        <div data-th-if="${LoggedInUser}">
            <div data-th-replace="~{user/sidebar::sidebar}"></div>
        </div>


        <div class="sm:pl-64 pt-32" style="height: 1000px;">
            <h1 class="text-5xl flex justify-center mb-10">This is Profile page</h1>

            <div class="max-w-lg mx-auto bg-slate-200 dark:bg-gray-800 rounded-xl shadow-lg overflow-hidden">
                <div class="relative">
                  <img class="w-full h-40 object-cover" data-th-src="@{${LoggedInUser.profilePic}}" alt="User Profile Background">
                  <div class="absolute -bottom-12 left-1/2 transform -translate-x-1/2">
                    <img class="w-24 h-24 rounded-full border-4 border-white shadow-md" data-th-src="@{${LoggedInUser.profilePic}}" alt="User Profile Picture">
                  </div>
                </div>
                <div class="mt-14 px-6 pb-6 text-center">
                  <h2 class="text-2xl font-bold" data-th-text="${LoggedInUser.name}"></h2>
                  <p class="text-sm text-gray-800 dark:text-gray-400 mt-2 font-semibold" data-th-text="${LoggedInUser.email}"></p>
                  <p class="text-sm text-gray-800 dark:text-gray-400 font-semibold" data-th-text="${LoggedInUser.phoneNumber}"></p>
                  <p class="mt-4 text-gray-800 dark:text-gray-400" data-th-text="${LoggedInUser.about}"></p>
                  <div class="mt-6 gap-2 flex justify-around">
                    <div class="text-center">
                      <p class="text-sm font-semibold" >Profile Enabled</p>
                      <p class="text-lg font-bold" data-th-text="${LoggedInUser.isEnabled}"></p>
                    </div>
                    <div class="text-center">
                      <p class="text-sm font-semibold">Email Verified</p>
                      <p class="text-lg font-bold" data-th-text="${LoggedInUser.isEmailVerified}"></p>
                    </div>
                    <div class="text-center">
                      <p class="text-sm font-semibold">Phone Verified</p>
                      <p class="text-lg font-bold" data-th-text="${LoggedInUser.isPhoneVerified}"></p>
                    </div>
                  </div>
                  <div class="mt-6">
                    <p class="text-sm font-medium text-gray-900 dark:text-gray-400">Provider</p>
                    <p class="text-lg font-bold" data-th-text="${LoggedInUser.provider}"></p>
                  </div>
                  <p class="mt-4 text-gray-900 dark:text-gray-400 text-sm">Provider User ID: <span class="font-semibold" data-th-text="${LoggedInUser.providerUserId}"></span></p>
                 
                </div>
              </div>
              
              
        </div>

    </div>
    <script>
        console.log("This is Profile page");
    </script>
</body>
</html>