<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body >
    <div id="content">
      <div class="flex justify-center mt-10 mb-10">
        <div class="w-full max-w-lg p-4 bg-white border-2  border-blue-300 rounded-lg shadow-lg sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

            <!-- message  -->

            <div data-th-replace="~{message :: message}"></div>

            <form 
            class="space-y-3" 
            data-th-action="@{'/do-register'}" 
            method="post"
            data-th-object="${user}"
            novalidate
            >
                <div>
                    <h5 class="text-3xl font-bold text-gray-900 dark:text-white">Register &</h5>
                    <p class="font-semibold">Manage your Contact's on Cloud</p>
                </div>
                <!-- name -->
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your Name</label>
                    <input type="text" data-th-field="*{name}" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Enter here" required />
                    <p
                    data-th-if="${#fields.hasErrors('name')}"
                    data-th-errors="*{name}" 
                    class="text-red-600 py-2 px-1"
                    ></p>
                </div>
                <!-- email -->
                <div class="mb-5">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your email</label>
                    <input type="email" data-th-field="*{email}" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
                    <p
                    data-th-if="${#fields.hasErrors('email')}"
                    data-th-errors="*{email}" 
                    class="text-red-600 py-2 px-1"
                    ></p>
                </div>
                <!-- password -->
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                    <input type="password" data-th-field="*{password}" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                    <p
                    data-th-if="${#fields.hasErrors('password')}"
                    data-th-errors="*{password}" 
                    class="text-red-600 py-2 px-1"
                    ></p>
                </div>
                <!-- phone-Number -->
                <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your phone Number</label>
                    <input type="text" data-th-field="*{phoneNumber}" name="phone" id="phone" placeholder="Enter your Number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                    <p
                    data-th-if="${#fields.hasErrors('phoneNumber')}"
                    data-th-errors="*{phoneNumber}" 
                    class="text-red-600 py-2 px-1"
                    ></p>
                </div>
                <!-- Text Area -->
                 <div>
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Something About yourself</label>
                    <textarea id="message" data-th-field="*{about}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                    <p
                    data-th-if="${#fields.hasErrors('about')}"
                    data-th-errors="*{about}" 
                    class="text-red-600 py-2 px-1"
                    ></p>
                 </div>
                
                <div >
                    <button type="submit" class="w-1/6 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-0 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</button>

                    <button type="reset" class="w-1/6 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-700 dark:hover:bg-red-800 dark:focus:ring-red-400">Reset</button>
                </div>
                <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                    Already registered? <a data-th-href="@{'/login'}" class="text-gray-700 hover:underline dark:text-blue-500">Login</a>
                </div>
            </form>
        </div>
      </div>
    </div>
    <script>
        console.log("This is Register page");
    </script>
</body>
</html>